@import "tailwindcss";

@font-face {
  font-family: "Inter";
  src: url("/src/assets/fonts/inter/Inter-Regular.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  src: url("/src/assets/fonts/inter/Inter-Medium.otf") format("opentype");
  font-weight: 500;
}
@font-face {
  font-family: "Inter";
  src: url("/src/assets/fonts/inter/Inter-SemiBold.otf") format("opentype");
  font-weight: 600;
}

@font-face {
  font-family: "Montserrat";
  src: url("/src/assets/fonts/montserrat/Montserrat-SemiBold.ttf")
    format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Montserrat";
  src: url("/src/assets/fonts/montserrat/Montserrat-Bold.ttf")
    format("truetype");
  font-weight: 700;
}

@theme {
  --font-sans: "Inter", sans-serif;
  --font-heading: "Montserrat", sans-serif;
  --color-primary: #141414;
  --color-secondary: #292929;
  --color-color-text-primary: #ffffff;
  --color-color-text-secondary: #c7c7c7;
  --color-accent: #f6c245;
}
